@media only screen and (min-width: 1200px) {
    .home{
        background: url("../img/background.png");
        height: 4700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}