$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;
$font: 'Roboto', sans-serif;

.fragment-container{
    background-color: $green-color;
}
.tittle-message{
    font-weight: 700;
    font-size: 3rem;
}

.email .psswd{
    margin-left: 2rem;
}