$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;

.modal-room{
    text-align: center;
}

.modal-room img{
    margin-top: 0.8rem;
    width: 5rem;
    height: 5rem;
}

.form-input-add-room{
    margin-top: 2rem;
}

.save-button{
    background: $coral-color;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
}

.Modal-Add-name-input{
    font-size: 1.2rem;
    font-weight: bold;
}