$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;

.modal-room{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.modal-room img{
    margin-top: 0.8rem;
    width: 5rem;
    height: 5rem;
}

.form-input-add-room{
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

.save-button{
    background: $coral-color;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
}
.save-button:hover{
    background: $coral-color;
}
.save-button:focus{
    background: $coral-color;
}
.Modal-Add-name-input{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.form-room{
    padding-left: 3rem;
    padding-right: 3rem;
}

.span-room-name{
    border: solid $green-button-color;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 1rem 0.4rem 1rem;
    color: $white;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    background: $green-button-color;
    height: 100%;
    text-align: center;
}