$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;

.plantview{
    margin-top: 4rem;
    border: solid red 2px;
}

.container-card-info{
    padding: 0;
}

// .card-info{
//     width: 40rem;
//     margin: 0rem;
// }

.chart-temperatute .chart-humidity{
    width: 25rem;
}