$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;

.roomsName{
    color: $black-as-blue;
    font-size: 2rem;
    font-weight: bold;

}

ul {
    list-style-type: none;
}

.card-plant{
    // display: flex;
    flex-wrap: nowrap;
}

.card-img{
    margin-top: 0.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // display: flex;
    width: 10rem;
}

.temperature{
    margin-top: 0.7rem;
}