$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009BA0;
$black-as-blue: #2C3E50;
$white: #ffff;

.Save-register{
    border-radius: 50px;
    background: $coral-color;
    border:none;
}

.Save-register:hover{
    background-color: $coral-color;
}