$green-color: #e3f8e8;
$coral-color: #ff8785;
$green-button-color: #009ba0;
$black-as-blue: #2c3e50;
$white: #ffff;


.Save-register{
    border-radius: 50px;
    background-color: $green-color;
    border:none;
    color:$black-as-blue;
    font-weight: bold;
    
}

.Save-register:hover{
    background-color: $green-color;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

// .join-button-home{
//     border-radius: 50px;
//     background-color: $coral-color;
//     border: none;
// }
.join-button-home{
    background-color: $green-color;
    width: 350px;
    border: none;
    border-radius: 50px;
    color: $black-as-blue;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.join-button-home:hover{
    background-color: $green-color;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.join-button-home:active{
    // background-color: $coral-color;
    border-radius: 50px;
    border: none;
    background-color: $green-color;
}

.form-group{
    border-radius: 50px;
    border: none;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
   
}

.user-text{
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.email{
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.psswd{
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.location-text{
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-dialog {
    max-width: 30rem;
}
.modal-content{
    border-radius: 25px;
    border: 0.5rem $black-as-blue;
}
.Errormesage{
    display: none;
}
.Errormesageshow{
    text-align: center;
    background-color:#ffcccc;
    color: #9b0000;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo2{
    width: 14rem; 
    margin-left: 2rem;
}
.logocontainer{
    width: 100%;
    margin: 0;
    display:flex;
    justify-content: center;
}
.h4{
    width: 100%;
}
.div{
    width: 100%;
    display: flex;
    justify-content: center;

}
.profilephoto{
    width: 8rem;
    border-radius: 0.5rem;
}
.upload{
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-top: 1rem;
    
}
.labe{
     background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}